__pycache__
.idea
.mypy_cache
.pytest_cache
.vscode
migrations/__pycache__
env
tests/__pycache__
.pytest_cache
app/__pycache__
**/.DS_Store
yarn.lock
node_modules
package.json
tsconfig.json
app/**/*.ts
app/**/__pycache__
src
tailwind.config.js
dist
package-lock.json
webpack.mix.js